on:
  push:
    tags:
      - '**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2 
  
      - name: Add SSH key
        env:
            SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
            chmod 700 ${HOME}
            mkdir -m 700 -p ${HOME}/.ssh
            echo '${{ secrets.DOCKER_SSH_CONFIG }}' > ${HOME}/.ssh/config
            echo '${{ secrets.DOCKER_SSH_KNOWN_HOSTS }}' >> ${HOME}/.ssh/known_hosts
            chmod 400 ${HOME}/.ssh/*
            ssh-agent -a ${SSH_AUTH_SOCK} > /dev/null   
            ssh-add - <<< '${{ secrets.DOCKER_HOST_SSH_PRIVATE_KEY }}'
  
      - name: Build container image and deploy image
        env:
            SSH_AUTH_SOCK: /tmp/ssh_agent.sock
            DOCKER_BUILDKIT: 1
            DOCKER_HOST: ssh://docker
        run: docker compose up --detach --build

